<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id='search_product_pane' class='new'>
  <div id='search_product_form_container' >
    <%= render 'search_form', {element_id: 'searchForm'} %>
  </div>
</div>
<div id='new_product_pane' class='new'>
  <div id='new_product_form_container' hidden>
    <%= render 'form', {product: @product,element_id: 'newForm'} %>
  </div>
  <button id='new_product_pane_button'>
    new
  </button>
</div>
<div id='products-list'>
</div>
